/pulse-package/package-cli.zip
/pulse-package/darwin_386
/pulse-package/linux_amd64
/pulse-package/package-cli.zip
/pulse-package/windows_amd64
/pulse-package/example-iotc-package
/pulse-package/open_source_licenses_clients.txt	
/pulse-package/windows_386
/cs-agent